*{
  box-sizing: border-box;
}
.graphics-dox{
  position: absolute;
  top:calc(30%);
  left: calc(50% - 150px);
  background-color: rgba(10,10,20,1);
  width:200px;
  height:200px;
   border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  z-index: 1;
}
.outter-circle{
  float: left;
  position: relative;
  top:calc(30%);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  
}
.left-eye{
  left: calc(50% - 60px);
  
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  z-index: 3;
}
.right-eye{
  left: calc(50% - 40px);
 
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  z-index: 3;
}
.upper-lip{
  position:relative;
  top:calc(50% + 25px);
  left:calc(50% - 48px);
  width: 100px;
  height: 30px;
  background-color: rgba(10,10,20,1);
/* background-color: rgba(10,10,20,1);*/
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transform: rotate(0deg);
  z-index: 2;
}
.teeth{
  position:relative;
  top:calc(50%);
  left:calc(50% - 48px);
  width: 99px;
  height: 30px;
  background-color: white;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
@media screen and (min-width:599px){
.outter-circle.left-eye{
  display: none ;
}
.outter-circle.right-eye{
  display:none ;
}

.teeth{
  display:none ;
}
.graphics-dox:hover .teeth{
  display: block;
}
.graphics-dox:hover .outter-circle{
  display: block;
}
.graphics-dox:hover .left-eye{
  display: block;
}
.graphics-dox:hover .right-eye{
  display: block;
}

#pic-1{
	left:10%;
	top:45%;
}
#pic-2{
	left:60%;
	top:45%;
}

}
@media screen and (max-width:600px){
  .graphics-dox{
    left: calc(50% - 100px);
  }
  .outter-circle{
    width: 50px;
    height: 50px;
    top:calc(30%);
  }
  .left-eye{
    
    left: calc(50% - 60px);
  }
  .right-eye{

    left: calc(50% - 40px);
  }

  .ref-banner{
    position:absolute;
    right:calc(20% - 50px);
  }
}


