*,
*::after,
*::before{
	box-sizing:border-box;
}
h1{
	color:rgb(255,255,255,1);
	text-align: center;
}
h2{
	padding-top:50px;
	margin-top:200px;
	text-align:center;
	
}
body{
	margin:0;
	background-color:rgb(10,10,20,1);
}

:root{
	--bar-width:60px;
	--bar-height:8px;
	--hamburger-gap:6px;
	--animation-timing:200ms ease-in-out;
}
.hamburger-menu {
	display:flex;
	flex-direction: column;
	gap:var(--hamburger-gap);
	width:max-content;
	position:absolute;
	z-index:2;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
	  content:"";
	  width:var(--bar-width);
	  height:var(--bar-height);
	  background-color:rgb(200,200,200,1);
	  border-radius:9999px;
	transform-origin: left center;
	transition: opacity var(--animation-timing), width var(--animation-timing), transform var(--animation-timing);
}

.hamburger-menu input{
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
	/*transform: rotate(45deg);
	transform: translate(0, calc(var(--bar-height)* -2));*/
	transform: matrix(0.5,0.5,-0.5,1,5,0);
}

.hamburger-menu:has(input:checked)::after {
	/*transform: rotate(45deg);
	transform: translate(0, calc(var(--bar-height)* -2));*/
	transform: matrix(0.5,-0.5,0.5,1,5,2);
}
.hamburger-menu input:checked{
	opacity: 0;
	width: 0;
}

#navi{
	position:absolute;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left:50px;
	width:100%;
	background-color: rgb(10,100,20,1);
	color:rgba(255,255,255,1);
	
	
	z-index: 1;
}
#navi a{
	text-decoration:none;
	color:rgba(255,255,255,1);
}
.dropdown{
	float:left;
	padding: 10px;
	background-color: rgb(10,100,20,1);
	border-radius:10px;
	
}


.hamburger-menu:has(input:not(checked)) + #navi{
	transform: translate(-300px);
	max-width:10%;
	height:1px;
}
.hamburger-menu:has(input:checked) +#navi{
	max-width:100%;
	height:40px;
	transform: translate(0px);
	transition: var(--animation-timing);
}
.dropdown-content{
	padding-top:10px;
	
}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown:not(hover) .dropdown-content{
	display:none;
}

body{
	color:white;
	font-size:12px;
}
#content{
	padding-left:10px;
	padding-right:10px;
}

p{
	color:rgba(220,220,200,1);
	text-align:justify;
	text-align:inter-word;
	font-size:20px;
	font-family:Heveltica (San-Serif);
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
}